.section-our-clients__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 48px;
}
.our-clients {
  display: flex;
  align-items: center;
}
.our-clients__item {
  display: flex;
  width: 170px;
  height: 92px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: fill, border, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__item:not(:last-child) {
  margin-right: 30px;
}
.our-clients__icon {
  display: flex;
  width: 106px;
  height: 60px;
}

.our-clients__item:hover,
.our-clients__item:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
}
